.body {
  height: 100vh;
  /* background: linear-gradient(#2100b7, #42006c); */
  background-image: url("../Asserts/background.png");
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-repeat: no-repeat;
  /* Prevents image repetition */
  background-attachment: fixed;
  /* Fixes the background image, so it doesn't scroll with the content */
  background-position: center center;
  /* Centers the image horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
  width: 50%;
  height: 80vh;
  padding: 0;
  border-radius: 30px;
}

.header {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #14017d;
  font-size: 40px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 5px;
  background-color: #14017d;
  border-radius: 9px;
}

.container form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 80px;
  background-color: #eaeaea;
  border-radius: 6px;
}

.input label {
  font-size: 20px;
  font-weight: 700;
  color: #14017d;
  margin-left: 20px;
  margin-right: 20px;
}

.input input {
  width: 480px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: #797979;
  font-size: 19px;
  margin-left: 10px;
  margin-right: 20px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 15px auto;
}

.submit-container a {
  color: #676767;
  background: #eaeaea;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #14017d;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0e0253;
}

.change-btn:hover {
  background-color: #c4c2c2;
  color: #636262;
}

.eye-icon-signin {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-solid {
  margin-left: 10px;
}

.error{
  color: red;
  font-size: 15px;
  font-weight: 700;
  margin: 0 30px;
}
